<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{!-- Navbar --}}
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main-menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left div -->
                    <div class="col-md-6 col-12 about_header_left align-items-center">
                        <figure>
                            <img src="images/about.svg" alt="About Image" class="about-image" title="Diya Soor"/>
                        </figure>
                    </div>
                    <!-- right div -->
                    <div class="col-md-6 col-12 about_header_right">
                        <p>Welcome to the #1 Weather App</p>
                        <h1>👋 I am Diya Soor, a<span class="span-clr"> MERN Stack </span>Developer</h1>
                        <a href="https://github.com/diyasoor" target="_blank"><button>MORE</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}
</body>
</html>