<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    {{>headerLinks}}
</head>
<body>
    {{!-- Navbar --}}
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main-menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div id="indexPageTime">
                  <i class="uil uil-clock"></i>
                  <p id="currentTime"></p>
                </div>
                <div class="row about-left-right">
                    <!-- left div -->
                    <div class="col-md-6 col-12 about_header_left align-items-center">
                        <figure>
                            <img src="images/about.svg" alt="About Image" class="about-image" title="Diya Soor"/>
                        </figure>
                    </div>
                    <!-- right div -->
                    <div class="col-md-6 col-12 about_header_right">
                        <p>Welcome to the #1 Weather App</p>
                        <h1>👋 I am Diya Soor, a<span class="span-clr"> MERN Stack </span>Developer</h1>
                        <a href="https://github.com/diyasoor" target="_blank"><button>MORE</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}

     <script>
        const timeCurrent = document.getElementById('currentTime');

        setInterval(() => {
            var date = new Date();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();

            var ampm = hours >= 12 ? 'PM' : 'AM';
            var hrIn12Hr = hours >= 13 ? hours % 12 : hours;
            var hours = hrIn12Hr < 10 ? '0' + hrIn12Hr : hrIn12Hr;
            minutes = minutes < 10 ? '0' + minutes : minutes;
            seconds = seconds < 10 ? '0' + seconds : seconds;
            var strTime = hours + ':' + minutes + ':' + seconds + ' ' + ampm;

            timeCurrent.innerText = strTime;
        }, 1000);


    </script>
</body>
</html>