<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{!-- Navbar --}}
    {{!-- {{>navbar}} --}}

    <!-- main header -->
    <div class="container-fluid main-menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/404.svg" alt="Error Image" class="error-image" title="error"/>
                        </figure>
                        <p>Welcome to the #1 Weather App</p>
                        <a href="/"><button>GO TO HOME</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}
</body>
</html>